html, body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body fills the entire viewport */
  display: flex;
  flex-direction: column; /* Makes the body a flex container */
}

#content {
  flex: 1; /* Takes up the remaining space to push the footer to the bottom */
}

.box {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: fit-content;
}

footer {
  background-color: #f1f1f1; /* Light background for clarity */
  text-align: center;
  padding: 10px 20px;
  position: relative; /* Ensures footer appears above other content */
}

a {
  color: #00B7FF;
}

.weather-icon {
  max-width: 80px;
  height: auto;
  display: block;
  margin: 0 auto; /* Center aligns the image */
}

h1 {
  color: #007bff; /* Bootstrap primary color */
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.card.border-primary {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-width: 2px;
}

.card.border-danger {
  box-shadow: 0 4px 6px rgba(255, 0, 0, 0.1);
  border-width: 2px;
}

.card-body {
  text-align: center;
}